@media screen and (max-width:600px) and (max-width:992px){
    .header-section{
        flex-direction: column;
        justify-content: center;
        margin-left: 50px;
    }
    .items-container{
        flex-direction: column;
        justify-content: center;
        margin-left: 50px;
        }
       .input-box{
        width: 50%;
        flex-direction: column;
        justify-content: center;
        
       }

       .popular-image img{
        width: 50%;
        flex-direction: column;
        justify-content: center;
        
       }
        .popular-content{

            width: 50%;
        flex-direction: column;
        justify-content: center;
        
        }
        .single-product1{


            width: 50%;
            flex-direction: column;
            justify-content: center;

        }
        .single-product2{


            width: 50%;
            flex-direction: column;
            justify-content: center;

        }
        .single-product3{


            width: 50%;
            flex-direction: column;
            justify-content: center;

        }
        .form-container{
            width: 50%;
            flex-direction: column;
            justify-content: center;


        }
        .form-container{

            width: 50%;
            flex-direction: column;
            justify-content: center;

        }
        .percent{
            width: 50%;
            flex-direction: column;
            justify-content: center;
        }
        .percent img{
            display: grid;

            width: 100%;
            flex-direction: column;
            justify-content: center;

        }

    }

    @media (max-width:600px){
        .container{
            width: 450px;
        }
        .heading{
            width: 95%;
        }
        .heading h2{
            font-size: 30px;
        }
        .gallery{
            grid-template-columns: 1fr;
        }
        .gallery .item{
            grid-column: auto;
        }
    }
    
    
   