@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Poppins:wght@400;500;600&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    


}


body{
    font-family: 'Inconsolata', monospace;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;

}
/* navvar navvar section start*/ 
.header-section{
    max-width: 1250px;
    width: 100%;
     
    display: flex;
    min-height: 20px;
    margin: 0 auto;
  
}
.nav-conatiner{
    min-height: 20px;
   
    display: flex;
    align-items: center;
    width: 50%;
    gap: 5px;
   
}
.nav-conatiner img{
    width: 50px;
    
    object-fit: cover;
}
.nav-conatiner p{
    font-size: 50px;
    color: #131318;

}
.special{
    color:#fff;
    background-color:#FF5400; 
    width: 174px;
    height: 52px;
    border-radius: 8px;
   
}
.items-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items-container a{
text-decoration: none;
 color: var(--Dark-02, #424247);
text-align: center;
font-size: 30px;
font-weight: 400;
}
/* header navver section end */

/* header banner style start*/
.content{
    max-width: 1250px;
    width: 50%;
     margin: 0 auto;

}
.container{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
   
    

}
.banner-text{
    max-width: 1250px;
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    order: 2;
   
   
}


   

.banner-text h1{
    color: #FFF;

font-size: 64px;

font-weight: 800;
text-align: center;
padding-top: 106px;

    
}
.banner-text p{
  
    color: #FFF;
    text-align: center;
   
    font-size: 16px;
   
    font-weight: 400;
    padding-top: 50px;
    padding-bottom: ;
   padding-left:247px ;
   padding-right: 24px;
}
.input-box{
    order: 1;
    width: 100%;
    display: inline-flex;
    padding:50px;
    padding-left: 185px;
    gap: 24px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
}
input{
    width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
text-align: center;
}
.sl{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    text-align: center;
    
}
/*
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
*/


/* header banner style end */

/* main section start */ 
/* popular section start*/
.popular{
    max-width: 1250px;
    width: 100%;
     
    display: flex;
    min-height: 20px;
    margin: 0 auto;
    justify-content: space-between;
    
    
   
  
}
.popular-content{
    width: 1250px;
    margin-top: ;
    
    align-items: center;
    width: 50%;
    order: 2;
    


   

    
}
.popular-image{
   
    margin: 20px;
    order: 1;
   
   

}
.popular-title{
    color: #131318;


font-size: 40px;

font-weight: 800;
margin: 20px;



}
.popular-text{
    color: rgba(19, 19, 24, 0.70);

font-size: 16px;

font-weight: 400;
line-height: 26px; 
gap: 30px;

 }
 /* popular styles end */

 /* destination start */ 


 /* gallery styles */ 
 .gallery-section{
    max-width: 1250px;
    margin: 0 auto;
    margin-top: 30px;
    grid-template-columns: repeat(2,1fr);
    
 }
 .gallery-section h1{
    text-align: center;
    color: #131318;
text-align: center;

font-size: 40px;

font-weight: 800;

 }
 .gallery-section p{
    text-align: center;
    color: rgba(19, 19, 24, 0.70);
text-align: center;

font-size: 16px;
font-weight: 400;

 }
 .gallery-container{
    display: flex;
    flex-wrap: wrap;
   

 }
 .single-gallery img{
    width: 70%;
    margin: 0 auto;
    width: 573px;
height: 300px;
flex-shrink: 0;
   
 }
 .single-gallery{
    flex-basis: 400px;
   border-radius: 20px;
    
    
 }

 /* card styles */ 

 .card-counter{
    max-width: 1250px;
    margin: 0 auto ;
   
 }
 .card-counter{
    min-width: 400px;
  
 }
.single-product1{
    width: 573px;
    display: flex;

    width: 30%;
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}
.single-product2{
    width: 573px;
height: 284px;
border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
    
}
.single-product3{
    width: 573px;
height: 284px;

width: 573px;
height: 284px;

}
.card-section h1{
    text-align: center;
    color: #131318;
text-align: center;

font-size: 40px;

font-weight: 800;

}
.card-section p{
    text-align: center;
    color: rgba(19, 19, 24, 0.70);
text-align: center;

font-size: 16px;

font-weight: 400;

}

/*newsletter */ 
.form{
    max-width: 1250px;
    width: 100%;
     
    display: flex;
    min-height: 20px;
    margin: 0 auto; 
    justify-content: space-between;


}
.form-container{
   display: grid;
    align-items: center;

}

.form-container h1{
    color: #131318;

font-size: 24px;

font-weight: 800;


}
.form-container p{

    color: #5A5A5D;

font-size: 16px;

font-weight: 400;

}
input{
    width: 393px;
height: 52px;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);

}
.special1{
    width: 393px;
height: 52px;
border-radius: 8px;
background: #FF5400;

}
percent{
    position: relative;
    min-height: 20px;
   
    display: flex;
    align-items: center;
    width: 50%;
    gap: 5px;
   
}
.discount{
    width: 324px;
height: 120px;
transform: rotate(-19.628deg);
background-color: #FF5400;


}

.discount h1{
    color: #FFF;

font-size: 32px;

font-weight: 800;


}
.
.discount p{
    color: #FFF;
text-align: center;

font-size: 24px;

font-weight: 400;
position: absolute;


}





/* footer css  start */ 
footer{

    max-width: 1250px;
    width: 100%;
     
    min-height: 20px;
    margin: 0 auto;
    background-color: #5A5A5D;
    text-align: center;
  
 
 }
 .title h1{
    color: var(--Dark-01, #131318);
font-family: Mulish;
font-size: 50px;

font-weight: 800;

 }
 .text-title p{

    color: #5A5A5D;
text-align: center;

font-size: 30px;

font-weight: 400;


 }
 icon{
   
 }
 .icon i{
  
 background-color: #424247;
 font-size: 30px;

 padding: 20px;

 

 
 }
 .copy{
    color: #131318;

font-size: 30px;

font-weight: 300;

 }
 