@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Poppins:wght@400;500;600&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

  

    
    


}


body{
    font-family: 'Inconsolata', monospace;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;

}
/* navvar navvar section start*/ 
.header-section{
    max-width: 1170px;
    width: 100%;
     
    display: flex;
    min-height: 20px;
    margin: 0 auto;
  
}
.nav-conatiner{
    min-height: 20px;
   
    display: flex;
    align-items: center;
    width: 50%;
    gap: 5px;
   
}
.nav-conatiner img{
    width: 50px;
    
    object-fit: cover;
}
.nav-conatiner p{
    font-size: 50px;
    color: #131318;

}
.special{
    color:#fff;
    background-color:#FF5400; 
    width: 174px;
    height: 52px;
    border-radius: 8px;
   
}
.items-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items-container a{
text-decoration: none;
 color: var(--Dark-02, #424247);
text-align: center;
font-size: 30px;
font-weight: 400;
}
/* header navver section end */

/* header banner style start*/
.banner-container{

   margin: 0 auto;

    max-width: 1170px;
    height: 500px;
   

    
     

}

.banner-text{
   
    
    max-width: 1250px;
    height: 100%;

    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;

  
}


   

.banner-text h1{
    color: #FFF;

font-size: 64px;

font-weight: 800;
text-align: center;
padding-top: 106px;

    
}
.banner-text p{
  
    color: #FFF;
    text-align: center;
   
    font-size: 16px;
   
    font-weight: 400;
    padding-top: 60px;
    
   padding-left:150px ;
   padding-right: 24px;
}

/* form start */ 



.input-box{
   
    width: auto 800px;
    height: auto 84px;
   margin: 16px;
    
 
  
 
    border-radius: 8px;
     background: rgba(255, 255, 255, 0.30);
    
  text-align: center;
  

}



.sl{
    width: 174px;
    height: 52px;
   
    border-radius: 8px;
    background: #FFF;
    text-align: center;
}
    
.fa-solid fa-magnifying-glass{
    width: 24px;
height: 24px;



}


/* popular section start */

.popular-content{
 
    max-width: 1250px;
    margin: 0 auto;
    margin-top: 100px;
}
.popular{
    display: flex;
    gap: 5px;
   
}
.popular div{
    width: 100%;
}
.popular img{
    width: 100%;
  margin-right: 5px;
}
.popular-title{
    color: #131318;
text-align: center;

font-size: 40px;

font-weight: 800;

}
.popular-text{
    color: rgba(19, 19, 24, 0.70);
    padding: 20px;

font-size: 16px;

font-weight: 400;
line-height: 26px; 

}

.read{
    color: #FFF;

text-align: center;
font-style: normal;
font-size: 20px;

font-weight: 800;

}

 /* popular styles end */

 /* destination start */ 

 .container{
    width: 1170px;
    margin: 0 auto;

 }
 .heading{
    text-align: center;
    width: 60%;
    margin: 1 rem auto ;
 }
 .item{
    position: relative;
    height: 300px;
    text-align: center;
 }
 .text-above{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
   
    width: 100%;
    height: 100%;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 18px;
    overflow: hidden;
   cursor: pointer;
    
   
 }
.gallery{
    display: grid;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
}
.gallery img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
.item1{

    grid-column: auto/span 6;
}
.item2{

    grid-column: auto/span 6;
}
.item3{

    grid-column: auto/span 4;
}
.item4{

    grid-column: auto/span 5;
}
.item5{

    grid-column: auto/span 3;
}
.item6{

    grid-column: auto/span 5;
}
.item7{

    grid-column: auto/span 7;
}

 
 /* card styles */ 

 

/*newsletter */ 


.newsleter{
   
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    
    
}
.news-container{
  margin: 10px;
    width: 474px;
height: 422px;
border-radius: 16px;
border: 1px solid #FF5400;
margin-bottom: 70px;



}
.news-container h1{
 color: #131318;
font-size: 24px;
font-weight: 800;
margin:40px;


}
.news-container p{
    width: 350px;
 color: #5A5A5D;
font-size: 16px;

font-weight: 400;
line-height: 26px; 
margin: 40px;
}
form input{

    
}
.form-container{
 margin: 40px;
 
 



}

form input{
    width: 393px;
height: 52px;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
text-align: center;
margin-bottom: 5px;

}
.subscribe{
    width: 393px;
height: 52px;

border-radius: 8px;
background: #FF5400;

}
.percent{
    background-image: url('Rectangle100.png');
   
    margin-top: 10px;
    
    width: 672px;
    height: 422px;
   border-radius: 16px;


} 

.discount{
    width: 324px;
    height: 120px;
    text-align: center;
    
transform: rotate(-19.628deg);
border-radius: 16px;
background: #FF5400;
margin-left:  327px;
margin-top: 250px;

}
.discount p{
    color: #FFF;
text-align: center;

font-size: 24px;

font-weight: 400;



}
.discount h1{
    color: #FFF;

font-size: 32px;

font-weight: 800;



}



/* footer css  start */ 
footer{

    max-width: 1170px;
    width: 100%;
     
    min-height: 20px;
    margin: 0 auto;
    background-color: #5A5A5D;
    text-align: center;
    
  
 
 }
 .title h1{
    color: var(--Dark-01, #131318);
font-family: Mulish;
font-size: 50px;

font-weight: 800;

 }
 .text-title p{

    color: #5A5A5D;
text-align: center;

font-size: 30px;

font-weight: 400;


 }
 icon{
   
 }
 .icon i{
  
 background-color: #424247;
 font-size: 30px;

 padding: 20px;

 

 
 }
 .copy{
    color: #131318;

font-size: 30px;

font-weight: 300;

 }
 